@import '../Variables.scss';

.tv-page-main {
    text-align: center;
    width: 100%;
    height: $philips-tv-height + px;
    background-size: contain;
    margin-top: -24px;

    .tv-video-main {
        width: 100%; 
        height: 100%; 
        position: absolute; 
        top: 0;
        right: 0; 
        z-index: -1;
        .video-object {
            position: relative;
            width:100%;
            height:100%;
        }
    }
    .tv-channel-info {
        background-color: $home-page-menu-background-color;
        height: 200px;
        .channel-name-wrapper {
            padding-top: 5rem;
            .channel-name {
                color: $primary-color;
            }
        }
        .channel-datetime-wrapper  {
            padding-top: 4rem;
            .channel-time, .channel-day {
                color: $primary-color;
                padding-right: 30px;
            }
            .channel-clock {
                visibility: hidden;
            }
        }
    }
    .tv-subtitles, .tv-audio {
        visibility: hidden;
    }
    #channelAudio, #channelVolume {
        color: $volume-controler-color;
        text-align: left;
        font-size: 165px;
    }
    .tv-volume-control, .channel-volume-col {
        padding: 0 !important;
    }
    
    .tv-volume-control svg{
        font-size: 200px;
        color: $volume-controler-color;
    }
    .tv-volume-controller-wrapper {
        background-color: $volume-controler-bg-color;
        margin-right: 46px;
        padding: 0px 12px;
    }
    .volume-control {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1034;
        bottom: 50px;
        left: 43px;
    }
}
.tv-submenu {
    background-color: $home-page-menu-background-color;
    height: 304px;

    .slick-slider {
        margin: 8px auto 15px;
        width: 300px;
        transform: rotate(-90deg);
        margin-top: -54px;
        h3 {
            width: 300px;
            transform: rotate(90deg);
            margin-top: 139px !important;
            margin-left: -18px !important;
        }
        .slick-slide {
            transform: skew(0deg);
            border-top-left-radius: 0px;
            border-bottom-right-radius: 0px;
            #tv-menu-items {
                width: 86%;
                height: 400px;
                background-color: $tv-menu-items-bg-color;
                opacity: 0.8;
                border-top-left-radius: 0px;
                border-bottom-right-radius: 0px;
                margin: 3px 3px 3px 20px;
                color: transparent;
            }
        }
    }
    .tv-channel-name {
        position: relative;
        bottom: 234px;
        text-align: center;
    }
    #tv-menu-items-main {
        width: 400px;
        height: 258px;
        background-color: $tv-menu-items-bg-color;
        opacity: 0.8;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 0px;
        margin: 20px 3px 3px 4px;
        color: $tv-menu-items-color;
    }
    .tv-options-name {
        margin-top: 3.5rem;
    }
    .tv-show-subtitles-flag, .tv-show-audio-flag {
        display: block;
        font-size: 25px;
        font-weight: 600;
    }
    .tv-hide-subtitles-flag,  .tv-hide-audio-flag{
        display: none;
    }
    
}

.spinner-border {
    left: 49%;
}

.hide-tv {
    display: none;
}

html, body{overflow:hidden;}

