
@import '../Variables.scss';
@import '../Mixins/DietFlag.scss';
@import '../Mixins/Generic.scss';
@import '../Mixins/Buttons.scss';
@import '../Mixins/Layout.scss';

@mixin mainOrderContent {
    text-align: center;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    overflow-y: hidden;
    margin-top: -24px;
}
.meal-ordering-Order-body {
    @include mainOrderContent;
    height: $care-plan-CockPitPro + px;
    .meal-ordering-order-icon {
        color: $care-plan-icon-color;
        padding-top: 50px;
        svg {
            font-size: 110px;
            border: solid 3px $text-on-dark;
            border-radius: 50%;
            padding: 18px;
            color: $care-plan-icon-color;
        }
        [tabindex="-1"]:focus {
            svg {
                background-color: $focus-active-color;
                color: $sessions-font-color;
            }
        } 
    }
    .session-type {
        color: $care-plan-icon-color;
        margin-top: 10px;
    }
    .full-fixed-height {
        height: 1080px;
        overflow-y: auto;
    }
    .meal-type-wrapper {
        display: flex;
        align-items: center;
        .menu-category-btn {
            font-family: $font-family-Regular;
            height: 120px;
            width: 100%;
            border: 1px solid $menu-category-border-color;
            font-size: 28px;
            background-color: $sessions-font-color;
            color: $text-on-light;
            overflow: hidden;
            .active {
                background-color: $focus-active-color;
                color: $sessions-font-color;
            }
            .round-thumbnail {
                height: 100px;
                width: 100px;
                border-radius: 100%;
                display: table-cell;
                vertical-align: middle;
            }
            .menuItems {
                display: table-cell;
                vertical-align: middle;
            }
            div {
                height: 100%;
                display: table-cell;
                vertical-align: middle;
            }
            .selection-arrow {
                height: 30px;
                width: 30px;
                background-color: $care-plan-background-color;
                transform: rotate(45deg);
                float: right;
                position: relative;
                right: -58px;
                top: -54px;
            }
        
            .selection-arrow-active {
                background-color: $primary-color-active;
            }
        
            .selection-arrow-inactive {
                background-color: $care-plan-background-color;
            }
        }
        .remove-gutter {
            padding: 0 !important;
        }
        .activity-button-active {
            @include onFocus;
        }
        
        .activity-button-inactive {
            background-color: $sessions-font-color;
            color: $text-on-light;
        }
    }
    .order-panel {
        background-color: $order-panel-background-color;
        height: 100%;
        .scrollitems {
            #section01 {
                @include scrollArrows;
                bottom: 2px;
                @include scrollArrowLink;
            }
            #section01::after {
                @include scrollSection;
            }
        
            #section02 {
                @include scrollArrows;
                transform: rotate(180deg);
                @include scrollArrowLink;
            }
            #section02::after {
                @include scrollSection;
            }
        }
        .remove-gutter {
            padding: 0;
        }
        .item-btn {
            font-family: $font-family-Regular;
            height: 215px;
            width: 100%;
            border: 1px solid $session-item-border-color;
            font-size: 36px;
            background-color: $sessions-font-color;
            color: $text-on-light;
            overflow: hidden;
            padding: 0;
            img {
                width: 298px;
                height: 215px;
            }
            .item-details {
                margin-left: -10px;
            }
            .menu-item-type {
                padding-top: 55px;
                padding-left: 15px;
                display: table-cell;
                vertical-align: middle;
                .item-header {
                    font-size: 34px;
                    margin-top: 10px;
                }
            }
            .menu-item-nutrients {
                font-size: 16px;
                text-align: left;
                padding-left: 19px;
                color: $meal-nutrients-color;
                margin: 0;
            }
            .diet-details {
                text-align: left;
                padding-left: 18px;
                .gf {
                    @include specialDiet($gluten-free-color);
                }
                .halal {
                    @include specialDiet($halal-color);
                }
                .vegan {
                    @include specialDiet($vegan-color);
                }
                .vegeterain {
                    @include specialDiet($vegeterian-color);
                }
                .hide-diet-icon {
                    display: none;
                }
            }
        }
        [tabindex="-1"]:focus {
            .item-details  {
                @include onFocus;
            }
            .menu-item-nutrients {
                color: $primary-color;
            }
            img {
                outline: none;
            }
        }
    }
    .order-summary {
        .order-section {
            border-bottom: 1px solid $meal-order-section-border-color;
            border-radius: 0px;
            border-left: 1px solid $meal-order-section-border-color;
            box-shadow: 0 5px 6px 1px $meal-order-section-border-color;
            height: 255px;
            .your-order-text {
                color: $meal-nutrients-color;
                text-align: center;
                margin-top: 28px;
                margin-bottom: 5px;
                font-weight: $header-font-weight;
                font-size: 34px;
            }
            .diet-specification {
                margin: 10px;
                text-align: center;
                padding-right: 1px;
                
                .diet-spec {
                    @include dietSpec($diet-specification);
                }
                .food-allergy {
                    @include dietSpec($food-allergy);
                }
                .food-preference {
                    @include dietSpec($food-preference);
                }
            }
            .nutrient-wrapper {
                line-height: 1.2;
                .nutrient {
                    padding:0;
                    .nutrient-type {
                        color: $text-on-light;
                        font-weight: $header-font-weight;
                        font-size: 16px;
                        text-align: right;
                    }
                }
                .progress-width {
                    max-width: 60%;
                    flex: 52.7%;
                    .progress {
                        height: 10px !important;
                        margin-bottom: 5px !important;
                        margin-top: 7px;
                        background-color: $order-progress-bar !important;
                        .bg-green {
                            background-color: $order-progress-bar-green;
                        }
                        .bg-red {
                            background-color: $order-progress-bar-red;
                        }
                    }
                }
                .col-gutter {
                    padding: 0 0 0 8px !important;
                    .nutrient-energy-content {
                        padding-bottom: 1px !important;
                        font-weight: $header-font-weight;
                        color: $text-on-light;
                        font-size: 16px;
                        margin-bottom: 0px;
                        position: relative;
                        bottom: 6px;
                        text-align: left;
                        .progressCount {
                            margin-left: -14px;
                            font-weight: $header-font-weight;
                            font-size: 1.4em;
                            color: $order-progress-count-color;
                        }
                        .measure {
                            font-size: 1.1em;
                        }
                    }
                }
            }
        }
        .items-overview {
            margin-top: 8%;
            height: 600px;
            overflow-y: auto;
            margin-right: 10%;
            .empty-list-offset {
                margin-left: 2.6%;
                .empty-list {
                    display: block;
                    color: $placed-order-buttons-border-color;
                    background-color: $placed-order-buttons-font-color;
                    padding: 32px 45px;
                    font-style: italic;
                    font-size: 22px;
                    margin-top: 0;
                }
                .order-list {
                    display: none;
                }
            }
            .item-hr-offset {
                margin-left: 8%;
                background-color: transparent;
                padding: 0px 15px 0px 20px;
                margin-top: -2px;
                hr {
                    border-top: 1px solid $order-hr-color !important;
                    margin-top: 0px;
                    margin-bottom: 1px;
                }
            }
            .hide-hr {
                display: none;
            }
            .items-overview-offset {
                margin-left: 6.333333%;
                background-color: $placed-order-bg-color;
                cursor: pointer;
                .item-quantity {
                    color: $placed-order-items-color;
                    font-weight: $header-font-weight;
                    font-size: 28px;
                    line-height: 2.8;
                }
                .item-description {
                    color: $placed-order-items-color;
                    font-weight: $header-font-weight;
                    font-size: 24px;
                    margin-top: 15px;
                    text-align: left;
                }
                .item-nutrients {
                    color: $placed-order-nutrients-color;
                    font-size: 14px;
                    margin-bottom: 15px;
                    font-weight: $header-font-weight;
                    text-align: left;
                }
                .item-button-offset {
                    background-color: $placed-order-bg-color;
                    padding-bottom: 20px;
                    margin-top: -3px;
                    margin-bottom: -1px;
                    margin:0;
                    padding: 5px 15px 20px 30px;
                    .item-change-qty {
                        @include smallButtons;
                    }
                    .btn-custom-padding {
                        padding-left: 34px;
                        .item-remove {
                            @include smallButtons;
                        }
                    }
                    [tabindex="-1"]:focus {
                        .item-change-qty {
                            @include smallBtnFocus;
                        }
                    }
                    [tabindex="-1"]:focus {
                        .item-remove {
                            @include smallBtnFocus;
                        }
                    }
                }
                .hide-item-button-offset {
                    display: none;
                }
                [tabindex="-1"]:focus {
                    .order-wrapper {
                        background-color: $focus-active-color;
                        .item-quantity, .item-description, .item-nutrients {
                            color: $placed-order-buttons-font-color;
                        }
                    }
                }
                .order-wrapper {
                    padding: 5px 15px 5px 30px;
                }
            }
        }
        .item-place-order {
            position: absolute;
            bottom: 33px;
            margin-left: 6.333%;

            .item-order-button {
                height: 125px;
                width: 420px;
                color: $placed-order-buttons-font-color;
                background-color: $focus-active-color;
                font-size: 40px;
                border-radius: 6px;
                border: none;
                text-align: center;
                display: table-cell;
            }
            .btn:disabled {
                @include disabledBtn;

            }
            [tabIndex="-1"]:focus {
                .item-order-button {
                    background-color: $placed-order-buttons-font-color;
                    color: $primary-color-active;
                    border: $primary-color-active solid 1px;
                }
                .btn-disabled {
                    @include disabledBtn;
                }
            }
        }
    }
    .white-filter {
        background-color: $white-filter-bg-color;
        color: $white-filter-font-color;
    }
}
.hide-mealOrdering {
    display: none;
}
.toast-bottom-right {
    right: 19% !important;
    bottom: 30% !important;
}
#toast-container>div {
    font-size: 26px;
    opacity: 1 !important;
    width: 800px !important;
}
.toast {
    max-width: 800px !important;
}
.toast-success {
    background-color: $toaster-success-bg !important;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: $scrollber-thumb;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: $scrollbar-track;
}